
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #03000e;
    text-align: left;
    background-image: url(../images/background.jpg);
    background-size: cover;
    position: relative;
  }
  body.active {
    background-image: url(../images/elmehy.jpg);
  }
  @media (max-width:550px) {
    body {
      background-image: url(../images/background2.jpg);
    }
    body.active {
      background-image: url(../images/elmehy2.jpg);
    }
    
  }
      body::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2196f3;
    opacity: 80%;
    z-index: 0;
  }

  h1,
  h5 {
    margin: 0;
    color: darkorange;
    transition: .3s;
    letter-spacing: 2px;
    max-width: 300px;
        margin: auto;
  }

  a {
    text-decoration: none;
    color: white;
    transition: .3s;
  }

  a:hover {
    color: darkorange;
  }

/* End Global Rules */
  .parent {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: black; */
    /* opacity: 76%; */
}
  .parent.active {
    height: 140vh!important;
  }
  .starting-intro {
    position: absolute;
    background-color: #03a9f4a8;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .starting-intro video {
    width: 70%;
    border: 4px solid white;
    border-radius: 10px;
    /* margin: 50px auto 0; */
  }
  .starting-intro span {  
    background-color: white;
    margin-top: 20px;
    padding: 6px 11px;
    border-radius: 8px;
    font-size: 23px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;

  }
  .starting-intro span:hover {
    background-color: #a9a5a5;
  }
  @media (max-width: 518px) {
    .start {
      font-size: 20px;
      line-height: 40px;

    }
    .start p {
      max-width: 60%;
      margin: 25px 10px;

    }
    .starting-intro span {
      font-size: 16px;
  }
  }
   .modules {
    position: absolute;
    color: black;
    text-decoration: line-through;
    font-size: 30px;
    max-width: 494px;
    z-index: -1;
    opacity: 58%;
   
    }
  .modules.tl {
    top: 0;
    left: 0;
   }
  .modules.br {
    bottom: 6px;
    right: 0;
    }

  .card {
    display: flex;
    flex-direction: column;
    background-color: #000000bf;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    border-radius: 8px;
    box-shadow:0 5px 10px #03000e;
    /* overflow: hidden; */
    mix-blend-mode: color-dodge;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    /* margin: 50px; */
    padding: 10px;
    margin: auto;
  }
 
   
 .card .container {
    padding: 20px 50px;
    font-variant: small-caps;
    color: white;
  }
  .card.active {
    display: none;
  }
 .card .container .joe,
 .card .container .load h5 {
   animation : coloring 1s linear infinite;
 }
  .count {
    display: flex;
    justify-content: space-around;
    padding: 41px;
  }

  .card .count div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
 
 .card .count span {
    border: 3px solid #a9a5a5;
    width: 62px;
    height: 45px;
    padding: 46px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 36px;
    font-weight: 600;
    animation: loading 1s linear infinite;
  }
  
  .card .count .days {

    animation-delay: .2s;
  }
  .card .count .hours {

    animation-delay: .4s;
  }
  .card .count .minutes {
 
    animation-delay: .6s;
  }
  .card .count .seconds {

    animation-delay: .8s;
  }
  .card .count div:hover h5 {
    color: whitesmoke;
  }

  .card .load {

  }
  .card .load::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #851919;
    width: 100%;
    height: 100%;
    /* animation: move 7s linear infinite; */
    z-index: -1;
    border-radius: 8px;
    box-shadow: 0 5px 10px #b3aad3;
  }
  @media (max-width: 762px) {
    .card .container {
      padding: 20px 5px;
    }
    .card .container h1 {
      letter-spacing: 0;
      font-size: 35px;
    }
    .card .container .count{
      justify-content: space-between;
      padding: 43px 13px;
  
    }
    .card .container .count span{
          font-size: 30px;
          padding: 42px;

    }
    .card h5 {
      font-size: 22px;
    }
   }
  @media (max-width: 518px) {
    .card .container {
      padding: 20px 3px;
    }
    .card .container h1 {
      letter-spacing: 0;
      font-size: 25px;
    }
    .card .container .count{
      flex-direction: column;
      gap: 5px;
      justify-content: space-between;
      padding: 18px 5px;
  
    }
    .card .container .count span{
          font-size: 24px;
          padding: 35px;

    }
    .card h5 {
      font-size: 15px;
    }
    .card .load::before {
      /* animation: movet 8s linear infinite ; */
    }
    @keyframes movet {
    0%, 100% {
      top:0%

    }
    50% {
      top:100%;
    }
    
  }
}

/* Start el 7afla */

/* Start Global */
   .faqra-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
    position: absolute;
   }

   .faqra-container .intro {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 50px;
    

   }
   .faqra-container .intro .text {
    max-width: 624px;
    color: white;
    font-weight: 700;
    font-size: 27px;
   }
   /* .faqra-container .intro .coount {
    border: 3px solid #f1f1f1;
    width: 52px;
    height: 35px;
    padding: 41px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
   } */
   .faqra-container video {
    border: 6px solid white;
    border-radius: 10px;
  }
  .buttoms {
    
    display: flex;
    justify-content: space-around;

  }
  .buttoms .next,
  .buttoms  .prev {
    /* position: absolute; */
    color: black;
    background-color: aqua;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
   }
   .buttoms .next {
    left: 80px;
   }
   .buttoms .prev {
    right: 80px;
   }
   .buttoms .next:hover,
    .prev:hover {
      background-color: #ccf7f7;
  }
   /* End Global */

    /* 1st Faqra  */
   .faqra-container .intro.firstt {
      display:flex;
      z-index: 99;
      transition: .3;
    
  }
   .faqra-container .intro.firstt.active {
      display:none;
    
  }
   .faqra-container .first {
    display: none;
    transition: .3;
    
  }
   .faqra-container .first.active {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
    

  @media (max-width: 550px) {
  .faqra-container .intro .text {
    max-width: 200px;
    color: white;
    font-weight: 700;
    font-size: 18px;
  }
  .faqra-container  video {
    border: 2px solid white;
  }

    .buttoms{
      font-size: 16px;
      font-weight: 600;
    }
  .buttoms .next {
    bottom: 150px;
    right: auto;
    left: auto
 }
 .buttoms .prev {
  top: 140px;
  right: auto;
  left: auto
 }
  }
  @media (min-width: 800px) {
    .faqra-container .meme {
      width: 150%;
  }
  }
  /* 2nd Faqra  */
   .faqra-container .intro.secondd {
    display: none;
    transition: .3;
    
  }
   .faqra-container .intro.secondd.active {
    display: flex;
    z-index: 99;
    
  }
  .faqra-container .intro.secondd .elfat7a-audio {
    position: absolute;
    visibility: hidden;
   }
   /* el quiz */
   .audios {
    position: absolute;
    visibility: hidden;
   }
   .faqra-container .intro.quiz {
    display: none;
   }
   .faqra-container .intro.quiz.active {
    display: flex;
    z-index: 99;
   }
   .faqra-container .intro.quiz .start,
   .faqra-container .question .elyb3do {
    display: flex;
    color: black;
    background-color: aqua;
    padding: 3px 11px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    margin-top: 30px;
   }

   .faqra-container .intro.quiz .start:hover,
   .faqra-container .question .elyb3do:hover {
    background-color: #ccf7f7;
   }
   .faqra-container .question {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .faqra-container .question.one, 
   .faqra-container .question.two, 
   .faqra-container .question.three, 
   .faqra-container .question.four, 
   .faqra-container .question.five, 
   .faqra-container .question.six,
   .faqra-container .question.seven {
      display: none;
   }
   .faqra-container .question.one.active,
   .faqra-container .question.two.active,
   .faqra-container .question.three.active,
   .faqra-container .question.four.active,
   .faqra-container .question.five.active,
   .faqra-container .question.six.active,
   .faqra-container .question.seven.active {
      display: flex;
      z-index: 99;
   }
   .faqra-container .question .quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: white;
    
   }
   .faqra-container .question .quiz .elso2al{
    margin-bottom: 10px;
   }
   .faqra-container .question .quiz p{
    width: 440px;
    background-color: aqua;
    margin-bottom: 3px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 3px 16px;
    font-weight: 600;
    transition: .3s;
     color: black;
   }
   .faqra-container .question .quiz p:hover {
    background-color: rgb(14, 158, 158);
   }
   .faqra-container .question .quiz .false.active{
    background-color: red;
   }
   .faqra-container .question .quiz .true.active{
    background-color: #fdac33;
   }
   @media (max-width:500px) {
    .faqra-container .question .quiz .elso2al{

      font-size: 20px;
     }
     .faqra-container .question .quiz p{
      font-size: 18px;
      width: 293px;
     }
     .faqra-container .intro.quiz .start {
      font-size: 18px;
      padding: 1px 10px!important;
     }
   }
   @media (max-width:350px) {
    .faqra-container .question .quiz .elso2al{

      font-size: 16px;
     }
     .faqra-container .question .quiz p{
      font-size: 15px;
      width: 245px;
     }
   }
   @media (max-width:250px) {
    .faqra-container .question .quiz .elso2al{

      font-size: 15px;
     }
     .faqra-container .question .quiz p{
      font-size: 13px;
      width: 200px;
     }
   }
  /* 3rd Faqra  */
   .faqra-container .intro.thirdd {
    display: none;
    transition: .3;
    
  }
   .faqra-container .intro.thirdd.active {
    display: flex;
    z-index: 99;
    
  }
   .faqra-container .third {
    display: none;
    transition: .3;
    
  }
   .faqra-container .third.active {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    z-index: 99;
    
  }
  .faqra-container .nex-third {
    position: absolute;
  }
  @media (min-width: 1022px) {
    .nex-third,
    .prev-third {
      top: 50%;
    }
    .nex-third {
      left: 40px!important;
    }
    .prev-third {
      right: 10px!important;
    }
  }
  /* fagret 3mlt eh  */

  .faqra-container .amlt-eh {
    display: none;
  }
  .faqra-container .amlt-eh.active {
    display: flex;
    z-index: 99;
  }
  .faqra-container .amlt-eh .text {
    max-width: 655px;
    font-size: 24px;
  
  }
  .faqra-container .amlt-eh .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(141px, 1fr));
    margin: 0 150px;
  }
  .faqra-container .amlt-eh .container img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
  .faqra-container .amlt-eh .container .cart {
    cursor: pointer;
    transition: transform 0.5s ease 0s;
    transform-style: preserve-3d;
    position: relative;
  }
  .faqra-container .amlt-eh .container .cart.active {
    transform: rotateY(180deg);
    /* position: absolute; */
  }
  .faqra-container .amlt-eh .container .cart.non-active {
    transform: rotateY(360deg);
    /* position: absolute; */
  }
  .faqra-container .amlt-eh .container .face {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .faqra-container .amlt-eh .container .front {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .faqra-container .amlt-eh .container .front .hsl,
  .faqra-container .amlt-eh .container .front .erg3,
  .bottom.reset {
    position: absolute;
    transition: .3s;
    top: -13px;
    left: 37%;
    font-size: 13px;
    background-color: aqua;
    padding: 1px 2px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 99;
    transform: rotateY(180deg);
  }
  .faqra-container .amlt-eh .container .front .hsl.active,
  .faqra-container .amlt-eh .container .front .erg3 {
    display: none;
  }

  .faqra-container .amlt-eh .container .front .erg3.active,
  .faqra-container .amlt-eh .container .front .hsl,
  .bottom.reset {
    display: none;
  }
  .faqra-container .amlt-eh .container .front .hsl:hover,
  .faqra-container .amlt-eh .container .front .erg3:hover,
  .bottom.reset:hover {
    background-color: rgb(41, 206, 206);
  }
  .faqra-container .amlt-eh .container .back {
    transform: rotateY(180deg);
   
  }
  .faqra-container .amlt-eh .to-intro-cards {
    left: unset!important;
  }
 
  @media (max-width: 1027px) {
    .faqra-container .amlt-eh .text {
      max-width: 464px;
      font-size: 19px;
    }
    .faqra-container .amlt-eh .container {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
      margin: 0 70px;
    }

}
@media (max-width: 650px) {
  .faqra-container .amlt-eh {
    gap: 16px!important;
  }

  .faqra-container .amlt-eh .text {
    font-size: 16px;
    max-width: 380px;
  }
  .faqra-container .amlt-eh .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(73px, 1fr));
    margin: 12px 91px;
  }

  .faqra-container .amlt-eh .to-intro-cards {
    bottom: unset;
    padding: 1px 12px;
    font-size: 19px;
    font-weight: 400
}
.bottom.reset {
  font-size: 11px;
}
.swal2-title {
  font-size: 15px;
}
}
@media (max-width: 400px) {
  .faqra-container .amlt-eh .text {
    font-size: 13px;
    max-width: 262px;
    margin-bottom: 10px;
}
  
  .faqra-container .amlt-eh .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(59px, 1fr));
    margin: 12px 37px;

  }
  
  .bottom.reset {
    font-size: 8px;
  }
}
  /* 4th Faqra  */
   .faqra-container .intro.fourthh {
    display: none;
    transition: .3;
    
  }
   .faqra-container .intro.fourthh.active {
    display: flex;
    z-index: 99;
  }
  .faqra-container .fourth {
    display: none;
    justify-content: center;
    align-items: center;
    transition: .3;
  }
  .faqra-container .fourth.active {
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 99;
  }
  .faqra-container .fourth .shokran-music {
   position: absolute;
   visibility: hidden;
  }
  .faqra-container .fourth p {
    color: white;
    font-size: 21px;
    text-align: center;
    font-weight: 600;
    margin-top: -40px;
  }
  .faqra-container .fourth .osama {
    color: #ffc107;
  }

  .faqra-container .slider-container {
    overflow: hidden;
    width: 70%;
    height: 500px;
   
  }
  figure {
    position: relative;
    left: 0;
    width: 4800%;
    animation: 192s slide infinite;
  }
   .faqra-container .fourth .slide {
    position: relative;
    width: 2.0834%;
    float: left;
 
  }
   .faqra-container .fourth .slide img {
    position: relative;
    width: 100%;
    height: 500px;
    border: 3px solid white;
    border-radius: 8px;
  }
  .nex-fourth,
  .prev-fourth {
    top: 50%;
  }
  .nex-fourth {
    position: absolute;
    left: 17px !important;
  }
  .prev-fourth {
    right: 17px !important;
  }
  @media (max-width: 750px) {
    /* .nex-fourth,
  .prev-fourth {
    bottom: 50px!important;
    top: auto!important;
    font-size: 15px;
  }
  .nex-fourth {
      left: 25px!important;
     }
     .prev-fourths{
      right: 25px!important;
     }
     */
  }
  @media (max-width: 550px) {
    .faqra-container .fourth p {
    
      font-size: 13px;
    }
    .nex-fourth {
      bottom: unset!important;
    }
  }
  @media (max-width: 850px) {

    .faqra-container .fourth .slide img {
      height: 261px!important;
    }
    
  .faqra-container .slider-container {
    height: 262px!important;
  }
  .nex-fourth, .prev-fourth {
    top: unset!important;
}
  }
  @media (max-width: 370px) {

    .faqra-container .fourth .slide img {
      height: 132px!important;
    }
    
 
  .faqra-container .slider-container {
    height: 135px!important;
  }
  .nex-fourth,
  .prev-fourth {
    /* bottom: 50px!important; */
    top: auto!important;
    font-size: 14px;
  }
  .nex-fourth {
      left: 25px!important;
      bottom: unset!important;
     }
     .prev-fourths{
      right: 25px!important;
     }
    
  }
  /* 6th Faqra  */
  .faqra-container.cardat.active { 
    justify-content: flex-start;
  }
   .faqra-container .intro.cardss {
    display: none;
  }
   .faqra-container .intro.cardss.active {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
   .faqra-container .cards  {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 3px 50px;
    margin: 20px auto 58px;
  }
   .faqra-container .cards.active  {
    display: flex;
    z-index: 99;
  }
   .faqra-container .cards  h1 {
    max-width: 600px;
    font-size: 27px;
    margin: 0 auto 35px;
    background-color: #000000d1;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .faqra-container .cards  h1.active {
    display: none;
  }
   .faqra-container .cards .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 8px;
  }
   .faqra-container .cards .container .cardd {
    width: 80%;
    height: 80px;
    transition: transform 0.5s ease 0s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
   
  }
   .faqra-container .cards .container .cardd.disabled {
    cursor: no-drop;
   
  }
   .faqra-container .cards .container .cardd.is-clicked{
    transform: rotateY(180deg);
    cursor: unset;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    font-size: 50px;
    color: white;
    font-weight: 700;
   
  }
   .faqra-container .cards .container .cardd .front {
    background-color: #333;
    /* line-height: 200px; */
  }
   .faqra-container .cards .container .cardd .front:before {
    content: "!";
    color: white;
    font-size: 77px;
    font-weight: bold;
  }
   .faqra-container .cards .container .cardd .back {
    background-color: #607d88;
    transform: rotateY(180deg);
    position: relative;
    
  }
   .faqra-container .cards .container .cardd .back .exit {
    color: white;
    position: absolute;
    top: 16px;
    right: 19px;
    padding: 1px 12px;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
    background-color: cornflowerblue;
    border-radius: 8px;
   }
   .faqra-container .cards .container .cardd .back .exit:hover {
    background-color: #4973bd;
   }
   .faqra-container .cards .container .cardd .back .text {
    display: flex;
    max-width: 550px;
    font-size: 27px;
  }
   /* .faqra-container .cards .container .cardd .back .text.active {
    display: flex;
  } */

  
  .faqra-container .cards .container .cardd .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 650px) {
    .faqra-container .cards h1 {
      font-size: 13px;
    }
    .faqra-container .cards .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
      gap: 6px;
    }
    .faqra-container .cards .container .cardd {
      width: 100%;
      height: 47px;
    }
    .faqra-container .cards .container .cardd .front:before {
      font-size: 28px;
    }
    .faqra-container .cards .container .cardd .back .text {
  
      max-width: 327px;
      font-size: 15px;
  
    }
    .faqra-container .cards .container .cardd .back .exit {
    color: white;
    position: absolute;
    bottom: 16px;
    padding: 1px 12px;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
    background-color: cornflowerblue;
    border-radius: 8px;
    top: auto;
    right: auto;
    }
    .faqra-container .cards .container .cardd .face {
      border: 2px solid #2196f3;
      }
  }
  @media (max-width:450px) {
    .faqra-container .cards .container .cardd .back .text {
  
      max-width: 241px;
      font-size: 14px;
  
    }
  }
  @media (max-width:280px) {
    .faqra-container .cards .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(26px, 1fr));
      gap: 4px;
    }
    .faqra-container .cards .container .cardd {
      width: 100%;
      height: 42px;
    }
    .faqra-container .cards .container .cardd .back .text {
    max-width: 117px;
    font-size: 13px;
}
  }
  /* End el 7afla */
  .feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;

  }
  .feedback.active {
    display: block;
  }
  .feedback p {
    font-size: 25px;
    font-weight: bold;
    min-width: 185px;
    color: white;
    margin-bottom: 10px;
  }
  .feedback .friends{
    color: #f5cd08;
  }
  .feedback p a{
    color: darkorange;
    transition: .3s;
  }
  .feedback p a:hover{
    color: rgb(201, 119, 20);
  }

  @media (max-width: 550px) {
    .feedback p { 
      font-size: 15px;
    }
  }
  /* Start Footer */

   footer .footer {
    position: absolute;
    color: darkorange;
    z-index: 1;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #3f51b5a6;
    width: 100%;
    font-variant-caps: petite-caps;
   }
   footer .footer .copyright {
    margin: 5px auto;
   }

   footer i {
    color: white;
    font-size: 15px;
   }
   @media (max-width: 518px) {
    footer .footer {
      font-size: 13px;
      font-weight: 600;
    }
    footer s.footer i {
      font-size: 10px;
    }
   }
  /* End Foter */

  @keyframes move {
    0%, 100% {
      left:0%

    }
    50% {
      left:100%;
    }
    
  }

  @keyframes hidden {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
 @keyframes loading {
    from {
      background-color: black;
    
    }
    to {
      background-color: transparent;
      
    }
    
  }
  @keyframes coloring {

   100% {
    color: black;
   }
    
  }

  @keyframes slide {
    0%, 1% {
      left:0;
    }
    
    2%,3% {
      left:-100%;
    }
    
    4%, 5% {
      left:-200%;
    }
    6%, 7% {
      left:-300%;
    }
    8%, 9% {
      left:-400%;
    }
    10%, 11% {
      left:-500%;
    }
    12%, 13% {
      left:-600%;
    }
    14%, 15% {
      left:-700%;
    }
    16%, 17% {
      left:-800%;
    }
    18%, 19% {
      left:-900%;
    }
    20%, 21% {
      left:-1000%;
    }
    22%, 23% {
      left:-1100%;
    }
    24%, 25% {
      left:-1200%;
    }
    26%, 27% {
      left:-1300%;
    }
    28%, 29% {
      left:-1400%;
    }
    30%, 31% {
      left:-1500%;
    }
    32%, 33% {
      left:-1600%;
    }
    34%, 35% {
      left:-1700%;
    }
    36%, 37% {
      left:-1800%;
    }
    38%, 39% {
      left:-1900%;
    }
    40%, 41% {
      left:-2000%;
    }
    42%, 43% {
      left:-2100%;
    }
    44%, 45% {
      left:-2200%;
    }
    46%, 47% {
      left:-2300%;
    }
    48%, 49% {
      left:-2400%;
    }
    50%, 51% {
      left:-2500%;
    }
    52%, 53% {
      left:-2600%;
    }
    54%, 55% {
      left:-2700%;
    }
    56%, 57% {
      left:-2800%;
    }
    58%, 59% {
      left:-2900%;
    }
    60%, 61% {
      left:-3000%;
    }
    62%, 63% {
      left:-3100%;
    }
    64%, 65% {
      left:-3200%;
    }
    66%, 67% {
      left:-3300%;
    }
    68%, 69% {
      left:-3400%;
    }
    70%, 71% {
      left:-3500%;
    }
    72%, 73% {
      left:-3600%;
    }
    74%, 75% {
      left:-3700%;
    }
    76%, 77% {
      left:-3800%;
    }
    78%, 79% {
      left:-3900%;
    }
    80%, 81% {
      left:-4000%;
    }
    82%, 83% {
      left:-4100%;
    }
    84%, 85% {
      left:-4200%;
    }
    86%, 87% {
      left:-4300%;
    }
    88%, 89% {
      left:-4400%;
    }
    90%, 91% {
      left:-4500%;
    }
    92%, 93% {
      left:-4600%;
    }
    94%, 95% {
      left:-4600%;
    }
    96%, 97% {
      left:-4700%;
    }
    98%, 99% {
      left:-4700%;
    }
    
    100% {
      left:0;
    }

  }
